body {
  background-color: #66b2ff;
}
section {
  padding-top: 150px;
  padding-bottom: 30px;
}
.login {
  background-color: white;
  border: 1px solid;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px 0 28px;
  width: 350px;
  height: 320px;
  z-index: 0px;
  max-width: 960px;
}
.form-control {
  border-radius: 20px;
}
h2 {
  padding: 3px 15px 15px 15px;
}
.btn-primary {
  padding: 0px 20px 0px 20px;
  background-color: #1877f2;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  line-height: 40px;
  margin: 10px;
  width: 330px;
}
.email {
  padding: 10px;
}
.email input {
  background-color: #cce5ff;
}
.password {
  padding: 10px;
}
.password input {
  background-color: #cce5ff;
}
img {
  width: 40px;
  height: 40px;
  margin: 8px;
}

.logo {
  /* margin: -20px 0px 20px 710px; */
  margin: -28px 43em;
  display: inline-flex;
  flex-direction: row;
  min-width: 350px;
}
